<script type="text/javascript" charset="utf-8" src="https://akshay.dev.appreciationengine.com/framework/js/429"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>


        <div id="signup">
            <div class="panel-heading" style="background: #000; color:#fff;">Social Signup</div>
            <div class="panel-body" style="padding: 15px 30px;">
                {% for social in socials %}
                    <a href="#" data-ae-register-link="{{ social|lower }}" class="ae-btn btn btn-default">{{social}}</a>
                {% endfor %}
            </div>


            <div class="panel-heading" style="background: #000; color:#fff;">Email Signup</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="email-signup" data-ae-register-form="email" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up!</button>
                </form>
            </div>



        </div>


        <div id="additional-data" style="display: none;">
            <div class="panel-heading" style="background: #000; color:#fff;">Additional Information Required</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="additional-data-form" data-ae-register-form="email" method="post">
                    {% for field in fields %}
                            {% if field.enabled == 1 %}
                                <div class="form-group">
                                    <label for="{{ field.field }}">{{  field.field }} &nbsp;&nbsp;</label>
                                    <input id="{{ field.field }}" name="{{ field.field }}" type="{{ field.type }}">
                                </div>
                            {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div id="loggedin" style="display: none;">
            User has logged in.
        </div>


<script type="text/javascript">

  	function getSocials() {
  	  var social_logins = "";
  	    {% for social in socials %}
  	  social_logins += '{{ social|lower }}{% if not loop.last %},{% endif %}';
  	    {% endfor %}
  	  return social_logins;
  	}


	function getOptions() {
	  var general_settings =  {{ general_settings|json_encode|raw }};
	  var basic_options =  {{ basic_options|json_encode|raw }};
	  var email_options =  {{ email_options|json_encode|raw }};
	  var text_options =  {{ text_options|json_encode|raw }};
	  var performance_options =  {{ performance_options|json_encode|raw }};

	  console.log(basic_options);
	  var options = {
		'auth_window': typeof general_settings.options.auth_window === "string",
		'social_logins': getSocials(),
		'display_error_message': typeof general_settings.options.error_message === "string",
		'device_detect': typeof general_settings.options.auto_detect === "string",
		'sso': general_settings.options.multi_site_login === 0,
		'no_email': typeof general_settings.options.social_login === "string",
		'email_format': email_options,
		'hide_email_form': basic_options.options.show_ep_button === 0,
		'style_url': basic_options.style_url,
		'language': 'en_US ' // Todo: Make it dynamic later
	  };

	  return options;
	}



function AEJSReady(aeJS) {



  	var options = getOptions();

	globalAEJS = aeJS;

	aeJS.settings['auth_window'] = options.auth_window;
	aeJS.settings['services'] = options.social_logins;
	aeJS.settings['display_error_message'] = options.display_error_message;
	aeJS.settings['mobile_detect'] = options.device_detect;
	aeJS.settings['sso'] = options.sso;
    aeJS.settings['no_email'] = options.no_email;
	aeJS.settings['email_format'] = options.email_format;
	aeJS.settings['hide_email_form'] = options.hide_email_form;
	aeJS.settings['flow_css'] = options.style_url;
    aeJS.settings['language'] = options.language;

  debugger;

    {#aeJS.settings['sso'] = '{{sso}}';#}
    {#aeJS.settings['flow_css'] = '{{ flow_css }}';#}
    {#aeJS.settings['close_button'] = {{ close_button }} === 0;#}
    {#aeJS.settings['date_format'] = '{{ date_format }}';#}
    {#aeJS.settings['display_error_message'] = {{ display_error_message }} === 1;#}

    {#var extra_info = {};#}
    {#extra_info['global'] = { #}
        {#'top': {#}
            {#'text': '{{ extra_info['global_top_text'] }}',#}
            {#'title': '{{ extra_info['global_top_title'] }}',#}
        {#},#}
        {#'bottom': {#}
            {#'text': '{{ extra_info['global_bottom_text'] }}',#}
            {#'title': '{{ extra_info['global_bottom_title'] }}',#}
        {#}#}
    {#};#}

    {#var fields = {{ fields|json_encode|raw }};#}
    {#var enabledFields = fields.filter(function(field) {#}
        {#return field.enabled === 1;#}
    {#});#}
    {#var extraFields = {};#}
    {#enabledFields.forEach(function(field) {#}
        {#extraFields[field.field] = {#}
            {#required: field.required === 1#}
        {#}#}
    {#});#}
    {#console.log(extraFields);#}
    {#aeJS.settings['extra_fields_screen'] = 'disabled';#}
    {#aeJS.settings['extra_fields'] = extraFields;#}

    {#console.log(aeJS.settings);#}

	aeJS.events.onFlow.addHandler(flowHandler);
	aeJS.events.onLogin.addHandler(loginHandler);
	aeJS.events.onUser.addHandler(userHandler);
	aeJS.events.onLogout.addHandler(logoutHandler);
	aeJS.events.onWindow.addHandler(windowHandler);

}

</script>