<script type="text/javascript" charset="utf-8" src="https://akshay.dev.appreciationengine.com/framework/js/429"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>


        <div id="signup">
            <div class="panel-heading" style="background: #000; color:#fff;">Social Signup</div>
            <div class="panel-body" style="padding: 15px 30px;">
                {% for social in socials %}
                    <a href="#" data-ae-register-link="{{ social|lower }}" class="ae-btn btn btn-default">{{social}}</a>
                {% endfor %}
            </div>

            <div class="panel-heading" style="background: #000; color:#fff;">Email Signup</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="email-signup" data-ae-register-form="email" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up!</button>
                </form>
            </div>
        </div>

        <div id="additional-data" style="display: none;" data-ae-logout-link="true">
            <div class="panel-heading" style="background: #000; color:#fff;">Additional Information Required</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="additional-data-form" data-ae-register-form="email" method="post">
                    {% for field in fields %}
                            {% if field.enabled == 1 %}
                                <div class="form-group">
                                    <label for="{{ field.field }}">{{  field.field }} &nbsp;&nbsp;</label>
                                    <input id="{{ field.field }}" name="{{ field.field }}" type="{{ field.type }}">
                                </div>
                            {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div id="loggedin" style="display: none;">
            <a href="#" data-ae-logout-link="true" class="btn btn-danger">LOGOUT</a>
        </div>


<script type="text/javascript">

  	function getSocials() {
  	    var social_logins = "";
  	      {% for social in socials %}
  	    social_logins += '{{ social|lower }}{% if not loop.last %},{% endif %}';
  	      {% endfor %}
  	    return social_logins;
  	}

  	function getGlobalHeaderFooter(text) {
  	    return {
  	        global: {
                'top': {
                    'text' : text.header,
                    'title' : 'Global Header'
                },
                'bottom': {
                    'text' : text.footer,
                    'title' : 'Global Footer'
                }
            }
        }
    }

    function getExtraFields(fields) {

  	    required_fields = fields.filter(function(field) {
  	        return field.required === 1;
        });

  	    var extraFields = {};
  	    required_fields.forEach(function(field) {
  	        extraFields[field.field] = {
  	            label: field.alt_text,
                required: true
            }
        });

  	    return extraFields;
    }

    function isset(variable) {
  	    return typeof variable === "string";
    }

	function getOptions() {
	    var general_settings =  {{ general_settings|json_encode|raw }};
	    var basic_options =  {{ basic_options|json_encode|raw }};
	    var email_options =  {{ email_options|json_encode|raw }};
	    var text_options =  {{ text_options|json_encode|raw }};
	    var performance_options =  {{ performance_options|json_encode|raw }};
	    var fields = {{ fields|json_encode|raw }};
	    createLocalUser = !isset(performance_options.options.not_create_user);
	    signInLocalUser = !isset(performance_options.options.not_sign_in);

//	    var options = {
//	  	    'auth_window': typeof general_settings.options.auth_window === "string",
//	  	    'social_logins': getSocials(),
//	  	    'display_error_message': typeof general_settings.options.error_message === "string",
//	  	    'device_detect': typeof general_settings.options.auto_detect === "string",
//	  	    'sso': general_settings.options.multi_site_login === 0,
//	  	    'no_email': typeof general_settings.options.social_login === "string",
//            'verify_email': typeof email_options.verify_email === "string",
//            'verify_email_for_login': typeof email_options.req_email_verify === "string",
//	  	    'email_format': email_options,
//	  	    'hide_email_form': basic_options.options.show_ep_button === 0,
//	  	    'style_url': basic_options.style_url,
//	  	    'language': basic_options.form_validation_language, // Todo: Make it dynamic later,
//            'flow_text': text_options,
//            'create_local_user': performance_options.not_create_user === 0,
//            'sign_in_local_user': performance_options.not_sign_in === 0,
//            'extra_info': getGlobalHeaderFooter(text_options),
//            'extra_fields': getExtraFields(fields)
//	    };

        var options = {
            'auth_window': isset(general_settings.options.auth_window),
            'social_logins': getSocials(),
            'display_error_message': isset(general_settings.options.error_message),
            'device_detect': isset(general_settings.options.auto_detect),
            'sso': !isset(general_settings.options.multi_site_login),
            'no_email': isset(general_settings.options.social_login),
            'verify_email': isset(email_options.verify_email),
            'verify_email_for_login': isset(email_options.req_email_verify),
            'email_format': email_options,
            'hide_email_form': !isset(basic_options.options.show_ep_button),
            'style_url': basic_options.style_url,
            'language': basic_options.form_validation_language, // Todo: Make it dynamic later,
            'flow_text': text_options,
            'create_local_user': !isset(performance_options.not_create_user),
            'sign_in_local_user': !isset(performance_options.not_sign_in),
            'extra_info': getGlobalHeaderFooter(text_options),
            'extra_fields': getExtraFields(fields)
        };

	  return options;
	}

	function isset(param) {
  	    return typeof param === "string";
    }

    function AEJSReady(aeJS) {
        var options = getOptions();

        globalAEJS = aeJS;

        aeJS.settings['auth_window'] = options.auth_window;
        aeJS.settings['services'] = options.social_logins;
        aeJS.settings['display_error_message'] = options.display_error_message;
        aeJS.settings['email_format'] = options.email_format;
        aeJS.settings['extra_fields'] = options.extra_fields;
        aeJS.settings['extra_info'] = options.extra_info;
        aeJS.settings['flow_css'] = options.style_url;
        aeJS.settings['flow_text'] = options.flow_text;
        aeJS.settings['hide_email_form'] = options.hide_email_form;
        aeJS.settings['language'] = options.language;
        aeJS.settings['no_email'] = options.no_email;
        aeJS.settings['mobile_detect'] = options.device_detect;
        aeJS.settings['sso'] = options.sso;
        aeJS.settings['verify_email'] = options.verify_email;
        aeJS.settings['verify_email_for_login'] = options.verify_email_for_login;

        console.log(aeJS.settings);

        aeJS.events.onFlow.addHandler(flowHandler);
        aeJS.events.onLogin.addHandler(loginHandler);
        aeJS.events.onUser.addHandler(userHandler);
        aeJS.events.onLogout.addHandler(logoutHandler);
        aeJS.events.onWindow.addHandler(windowHandler);

    }

</script>